<!-- sns_main -->
<div id="sns_main" class="col-md-9 col-main">
    <div id="sns_mainmidle">



        <div id="sns_producttaps1" class="sns_producttaps_wraps">
            
            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#chair" aria-controls="chair" role="tab" data-toggle="tab">Tiendas mas Populares</a></li>
            </ul>

                
            <div class="tab-content">
                <div class="content-loading"></div>
                <div role="tabpanel" class="tab-pane active" id="chair">
                    <div  class="taps-slider1 products-grid row style_grid owl-carousel owl-theme owl-loaded">
                            <div class="taps-slider">

                                
                                <div class="item col-lg-3 col-md-4 col-sm-4 col-xs-6 col-phone-12">
                                    <div class="item-inner">
                                        <div class="prd">
                                            <div class="item-img clearfix">
                                                <a class="product-image have-additional"
                                                href="detail.html">
                                                <span class="img-main">
                                                <img src="./assets/images/products/7.jpg" alt="">
                                                </span>
                                                </a>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title">
                                                        <a title="Modular Modern"
                                                        href="detail.html">
                                                        Nombre de Tienda
                                                        Direccion de la Tienda 
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="taps-slider">

                             </div>
                    </div>
                </div>
            </div>
        </div>  


        <div class="sns_banner_page2">
            <div class="banner5">
                <a href="#">
                    <img src="./assets/images/page2/banner1-page2.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
</div>
